[Desktop Entry]
Name=Pi Apps
Comment=Raspberry Pi App Store for open source projects
Exec=/home/pi/pi-apps/gui
Icon=/home/pi/pi-apps/icons/logo.png
Terminal=false
Type=Application
Categories=Utility;
